[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
coverage = "==5.1"
django-crispy-forms = "==1.9.1"
django-filter = "==2.3.0"
django-pagedown = "==1.0.6"
django-taggit = "==1.3.0"
djangorestframework = "==3.11.0"
model-mommy = "==2.0.0"
pytz = "==2020.1"
six = "==1.15.0"
django-tinymce4-lite = "==1.8.0"
django-debug-toolbar = "==3.0a1"
Pillow = "==7.1.2"
django = "*"
pyenchant = "*"

[requires]
python_version = "3.8"
