[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
model-mommy = "*"
django-debug-toolbar = "*"

[packages]
coverage = "==5.1"
django-filter = "==2.3.0"
django-taggit = "==1.3.0"
djangorestframework = "==3.11.2"
pytz = "==2020.1"
six = "==1.15.0"
Pillow = "==8.3.2"
django = "*"
pyenchant = "*"
django-ckeditor = "*"
django-crispy-forms = "*"

[requires]
python_version = "3.8"
