{% extends "dashboard/author/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
{% endblock title %}

{% block content %}
    {{ form.media }}
    <br />
    <div class="container"> <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Article</legend>
                {{ form|crispy }}
            </fieldset>
                <div class="form-group ">
                    <button class="btn btn-outline-info" name="action" value="PREVIEW"
                            type="submit">Preview</button>

                    <button class="btn btn-outline-danger" name="action"
                            value="SAVE_AS_DRAFT" type="submit">SAVE AS DRAFT</button>

                    <button class="btn btn-outline-primary" name="action" value="PUBLISH"
                            type="submit">PUBLISH</button>
                </div>
        </form>
    </div>
    </div>
{% endblock content %}