{% extends "account/base.html" %}
{% load crispy_forms_tags %}


{% block content %}

<div class="container">
    <h1 class="text-center logo my-4">
      <a href="{% url 'blog:home' %}">Bona Blog</a>
    </h1>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Log in</h3>
            <form method="post" action="{% url 'blog:login' %}" novalidate>
              {% csrf_token %}
               {{ form|crispy }}
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
            </form>
          </div>
          <div class="card-footer text-muted text-center">
            New to Bona Blog? <a href="">Sign up</a>
          </div>
        </div>
        <div class="text-center py-2">
          <small>
            <a href="#" class="text-muted">Forgot your password?</a>
          </small>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}