{% extends "account/account_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
    <div class="container d-flex">

        <div class="card shadow-sm w-100" style="margin-top: 39vh">

                <h4 class="card-header">Reset Password</h4>

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                            {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-info float-right"
                                    type="submit">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
</div>
{% endblock content %}