{% extends "account/account_base.html" %}

{% block title %}
    Successful Password Reset
{% endblock title %}

{% block content %}
            <div class="card shadow-sm mb-3 w-100">

                <h4 class="card-header">Successful Password Reset</h4>

                <div class="card-body">
                        <div class="alert alert-info">
                            Your password has been set.
                        </div>
                        <a class="btn btn-outline-info"  href="{% url 'blog:login' %}">Log In Here</a>
                </div>
            </div>

{% endblock content %}