{% extends "account/account_base.html" %}

{% block title %}
    Password Reset Done
{% endblock title %}

{% block content %}
            <div class="card shadow-sm mb-3 w-100">

            <h4 class="card-header">Password Reset Done</h4>

                <div class="card-body">
                    <div class="alert alert-info">
                        An email has been sent with instructions to reset your password.
                    </div>
                </div>
            </div>

{% endblock content %}