{% extends "account/account_base.html" %}

{% block title %}
    Password Reset Done
{% endblock title %}

{% block content %}
    <div class="container d-flex">

    <div class="card shadow-sm w-100" style="margin-top: 39vh">

            <h4 class="card-header">Password Reset Done</h4>

                <div class="card-body">
                    <div class="alert alert-info text-center">
                        An email has been sent with instructions to reset your password.
                    </div>
                </div>
            </div>
    </div>

{% endblock content %}