{% extends "account/account_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Reset Password
{% endblock title %}

{% block content %}
<div class="content-section">

            <div class="card shadow-sm mb-3 w-100">

                <h4 class="card-header">Reset Password</h4>

                <div class="card-body">
                    <form method="POST">
                        {% csrf_token %}
                            {{ form|crispy }}
                        <div class="form-group">
                            <button class="btn btn-outline-info"
                                    type="submit">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
</div>
{% endblock content %}