{% extends "account/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
{#<div class="content-section">#}
{#    <form method="POST">#}
{#        {% csrf_token %}#}
{#        <fieldset class="form-group">#}
{#            <legend class="border-bottom mb-4">Reset Password</legend>#}
{#            {{ form|crispy }}#}
{#        </fieldset>#}
{#        <div class="form-group">#}
{#            <button class="btn btn-outline-info"#}
{#                    type="submit">Request Password Reset</button>#}
{#        </div>#}
{#    </form>#}
{#</div>#}

     <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-2">Forgot Your Password?</h1>
                    <p class="mb-4">We get it, stuff happens. Just enter your email address below and we'll send you a link to reset your password!</p>
                  </div>
                  <form class="user">
                      {% csrf_token %}
                    <div class="form-group">
                       {{ form|crispy }}
                    </div>
                    <a href="{% url 'blog:password_reset' %}" class="btn btn-primary btn-user btn-block">
                      Reset Password
                    </a>
                  </form>
                  <hr>
                  <div class="text-center">
                    <a class="small" href="/">Create an Account!</a>
                  </div>
                  <div class="text-center">
                    <a class="small" href="{% url 'blog:login' %}">Already have an account? Login!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>
{% endblock content %}