{% extends 'base.html' %}

{% block title %}
 Search Results
{% endblock title %}

{% block content %}
    {% if categories %}
    <div class="main-slider">
		<div class="swiper-container position-static" data-slide-effect="slide" data-autoheight="false"
			data-swiper-speed="500" data-swiper-autoplay="10000" data-swiper-margin="0" data-swiper-slides-per-view="4"
			data-swiper-breakpoints="true" data-swiper-loop="true" >
			<div class="swiper-wrapper">
                {% for category in categories %}
				<div class="swiper-slide">
					<a class="slider-category" href="{{ category.get_absolute_url }}">
						<div class="blog-image"><img src="{{ category.image.url }}" alt="Blog Image"></div>

						<div class="category">
							<div class="display-table center-text">
								<div class="display-table-cell">
									<h3><b>{{ category.name }}</b></h3>
								</div>
							</div>
						</div>
					</a>
				</div><!-- swiper-slide -->
                {% endfor %}

			</div><!-- swiper-wrapper -->
		</div><!-- swiper-container -->

	</div><!-- slider -->
    {% else %}
        <center><div class="alert alert-warning"><b>No Categories</b></div></center>
    {% endif %}

	<section class="blog-area section">
		<div class="container">
            {% if articles %}
                <div class="alert alert-info"><b>Search results</b></div>
			<div class="row">
                {% for article in articles %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src="{{ article.image.url }}" alt="Blog Image"></div>

							<a class="avatar" href="{% url 'blog:author_articles' article.author.username %}">
                                <img src="{{ article.author.profile.image.url }}" alt="Profile Image">
                            </a>

							<div class="blog-info">

								<h4 class="title"><a href="{{ article.get_absolute_url }}"><b>{{ article.title }}</b></a></h4>

								<ul class="post-footer">
									<li><a><i class="ion-pricetag"></i>5756 words</a></li>
									<li><a href="#"><i class="ion-chatbubbles"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
                {% endfor %}
			</div><!-- row -->
            {% else %}
                <div class="alert alert-danger"><b>Sorry, no records found.</b></div>
            {% endif %}
			<a class="load-more-btn" href="#"><b>LOAD MORE</b></a>

		</div><!-- container -->
	</section><!-- section -->
{% endblock content %}