{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
	<div class="slider" style="height: 400px; width: 100%;
    background-image: url({{ article.category.image.url }});
    background-size: cover;" >
	</div><!-- slider -->

	<section class="post-area">
		<div class="container">

			<div class="row">

				<div class="col-lg-1 col-md-0"></div>
				<div class="col-lg-10 col-md-12">

					<div class="main-post">

						<div class="post-top-area">

							<h5 class="pre-title"><b>{{ article.category }}</b></h5>

							<h3 class="title"><a href="#"><b>{{ article.title }}</b></a></h3>

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="{% url 'blog:author_articles' article.author.username %}">
                                        <img src="{{ article.author.profile.image.url }}" alt="Profile Image"></a>
								</div>

								<div class="middle-area">
									<a class="name" href="{% url 'blog:author_articles' article.author.username %}">
                                        <b>{{ article.author.username }}</b></a>
									<h6 class="date">on {{ article.date_published.date }} at {{ article.date_published.time }}</h6>
								</div>

							</div><!-- post-info -->
                           <div class="post-icons-area">
								<ul class="post-icons">
                                    <li><a><i class="ion-pricetag"></i>57</a></li>
									<li><a><i class="ion-ios-clock"></i>57 min read</a></li>
									<li><a href="#"><i class="ion-chatbubbles"></i>6</a></li>
									<li><a><i class="ion-eye"></i>{{ article.views }} view{{ article.views|pluralize }}</a></li>
								</ul>

								<ul class="icons">
									<li>SHARE : </li>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
								</ul>
							</div>
							<p class="para">
                            {% if object.author == user %}
                            <div>
                                <a class="btn btn-info btn-sm mt-1 mb-1"
                                   href="{% url 'blog:article_update' article.slug %}">Update
                                </a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1"
                                   href="{% url 'blog:article_delete' article.slug %}">Delete
                                </a>
                          </div>
                          {% endif %}
                        <br ><br >
						</div><!-- post-top-area -->

						<div class="post-image"><img src="{{ article.image.url }}" alt="Blog Image"></div>

						<div class="post-bottom-area">

                        <!-- article body -->
							<p class="para">{{ article.get_body_as_markdown }}

                        <!-- tags -->
							<ul class="tags">
                                {% for tag in article.tags.all %}
								<li><a href="#">{{ tag.name }}</a></li>
                                {% endfor %}
							</ul>

							<div class="post-icons-area">

								<ul class="icons">
									<li>SHARE : </li>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
								</ul>
							</div>

						</div><!-- post-bottom-area -->

					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- post-area -->


	<section class="recomended-area section">
		<div class="container">
			<div class="row">

				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src="images/alex-lambley-205711.jpg" alt="Blog Image"></div>

							<a class="avatar" href="#"><img src="images/icons8-team-355979.jpg" alt="Profile Image"></a>

							<div class="blog-info">

								<h4 class="title"><a href="#"><b>How Did Van Gogh's Turbulent Mind Depict One of the Most Complex
								Concepts in Physics?</b></a></h4>

								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-md-6 col-sm-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>

	<section class="comment-section center-text">
		<div class="container">
			<h4><b>POST COMMENT</b></h4>
			<div class="row">

				<div class="col-lg-2 col-md-0"></div>

				<div class="col-lg-8 col-md-12">
					<div class="comment-form">
						<form method="post">
							<div class="row">

								<div class="col-sm-6">
									<input type="text" aria-required="true" name="contact-form-name" class="form-control"
										placeholder="Enter your name" aria-invalid="true" required >
								</div><!-- col-sm-6 -->
								<div class="col-sm-6">
									<input type="email" aria-required="true" name="contact-form-email" class="form-control"
										placeholder="Enter your email" aria-invalid="true" required>
								</div><!-- col-sm-6 -->

								<div class="col-sm-12">
									<textarea name="contact-form-message" rows="2" class="text-area-messge form-control"
										placeholder="Enter your comment" aria-required="true" aria-invalid="false"></textarea >
								</div><!-- col-sm-12 -->
								<div class="col-sm-12">
									<button class="submit-btn" type="submit" id="form-submit"><b>POST COMMENT</b></button>
								</div><!-- col-sm-12 -->

							</div><!-- row -->
						</form>
					</div><!-- comment-form -->

					<h4><b>COMMENTS(12)</b></h4>

					<div class="commnets-area text-left">

						<div class="comment">

							<div class="post-info">

								<div class="middle-area">
									<a class="name" href="#"><b>Katy Liu</b></a>
									<h6 class="date">on Sep 29, 2017 at 9:48 am</h6>
								</div>

								<div class="right-area">
									<h5 class="reply-btn" ><a href="#"><b>REPLY</b></a></h5>
								</div>

							</div><!-- post-info -->

							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
								ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
								Ut enim ad minim veniam</p>

						</div>

					</div><!-- commnets-area -->

					<a class="more-comment-btn" href="#"><b>VIEW MORE COMMENTS</a>

				</div><!-- col-lg-8 col-md-12 -->

			</div><!-- row -->

		</div><!-- container -->
	</section>
{% endblock content %}