{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
	<div class="slider" style="height: 400px; width: 100%;
    background-image: url({{ article.category.image.url }});
    background-size: cover;" >
	</div><!-- slider -->

	<section class="post-area">
		<div class="container">

			<div class="row">

				<div class="col-lg-1 col-md-0"></div>
				<div class="col-lg-10 col-md-12">

					<div class="main-post">

						<div class="post-top-area">

							<h5 class="pre-title"><b>{{ article.category }}</b></h5>

							<h3 class="title"><b>{{ article.title }}</b></h3>

							<div class="post-info">

								<div class="left-area">
									<a class="avatar" href="{% url 'blog:author_articles' article.author.username %}">
                                        <img src="{{ article.author.profile.image.url }}" alt="Profile Image" class="profile-image"></a>
								</div>

								<div class="middle-area">
									<a class="name" href="{% url 'blog:author_articles' article.author.username %}">
                                        <b>{{ article.author.username }}</b></a>
									<h6 class="date">on {{ article.date_published.date }} at {{ article.date_published.time }}</h6>
                                    <h6>Updated on {{ article.date_updated.date }} at {{ article.date_updated.time }}</h6>
								</div>

							</div><!-- post-info -->
                           <div class="post-icons-area">
								<ul class="post-icons">
                                    <li><a><i class="ion-ios-paper"></i>{{ article.count_words }} word{{ article.count_words|pluralize }}</a></li>
									<li><a><i class="ion-ios-clock"></i>{{ article.read_time }} min{{ article.read_time|pluralize }} read</a></li>
									<li><a href="#"><i class="ion-chatbubbles"></i>{{ article.comments.count }}</a></li>
									<li><a><i class="ion-eye"></i>{{ article.views }} view{{ article.views|pluralize }}</a></li>
								</ul>

								<ul class="icons">
									<li>SHARE : </li>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
								</ul>
							</div>
							<p class="para">
                            {% if object.author == user %}
                            <div>
                                <a class="btn btn-info btn-sm mt-1 mb-1"
                                   href="{% url 'blog:article_update' article.slug %}">Update
                                </a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1"
                                   href="{% url 'blog:article_delete' article.slug %}">Delete
                                </a>
                          </div>
                          {% endif %}
                        <br ><br >
						</div><!-- post-top-area -->

						<div class="post-image"><img src="{{ article.image.url }}" alt="Blog Image"></div>

						<div class="post-bottom-area">

                        <!-- article body -->
							<p class="para">{{ article.body | safe }}

                        <!-- tags -->
							<ul class="tags">
                                {% for tag in article.tags.all %}
								<li><a href="#">{{ tag.name }}</a></li>
                                {% endfor %}
							</ul>

							<div class="post-icons-area">

								<ul class="icons">
									<li>SHARE : </li>
									<li><a href="#"><i class="ion-social-facebook"></i></a></li>
									<li><a href="#"><i class="ion-social-twitter"></i></a></li>
									<li><a href="#"><i class="ion-social-pinterest"></i></a></li>
								</ul>
							</div>

						</div><!-- post-bottom-area -->

					</div><!-- main-post -->
				</div><!-- col-lg-8 col-md-12 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- post-area -->


	<section class="recomended-area section">
		<div class="container">
        <h4><b>RELATED ARTICLES</b></h4>
             {% if related_articles %}
			<div class="row">
            {% for related_article in related_articles %}
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src="{{ related_article.image.url }}" alt="Blog Image"></div>

							<a class="avatar" href="{% url 'blog:author_articles' related_article.author.username %}">
                                <img class="profile-image" src="{{ related_article.author.profile.image.url }}" alt="Profile Image"></a>

							<div class="blog-info">

								<h4 class="title"><a href="{{ related_article.get_absolute_url }}">
                                    <b>{{ related_article.title }}</b></a></h4>

								<ul class="post-footer">
									<li><i class="ion-ios-clock"></i>{{ article.read_time }} min read</li>
									<li><i class="ion-chatbubble"></i>{{ article.comments.count }}</li>
									<li><i class="ion-eye"></i>{{ article.views }}</li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-md-6 col-sm-12 -->
             {% endfor %}
			</div><!-- row -->
             {% else %}
                <div class="alert alert-warning"><b>No Related Articles</b></div>
            {% endif %}
		</div><!-- container -->
	</section>

	<section class="comment-section center-text">
		<div class="container">
			<h4><b>POST COMMENT</b></h4>
			<div class="row">

				<div class="col-lg-2 col-md-0"></div>

				<div class="col-lg-8 col-md-12">
					<div class="comment-form">
						<form method="post" action="{% url 'blog:comment_create' article.slug %}">
                            {% csrf_token %}
							<div class="row">
								<div class="col-sm-6">
									{{ comment_form.name }}
								</div><!-- col-sm-6 -->
								<div class="col-sm-6">
									{{ comment_form.email }}
								</div><!-- col-sm-6 -->

								<div class="col-sm-12">
                                    {{ comment_form.comment }}
								</div><!-- col-sm-12 -->
								<div class="col-sm-12">
									<button class="submit-btn" type="submit" id="form-submit"><b>POST COMMENT</b></button>
								</div><!-- col-sm-12 -->

							</div><!-- row -->
						</form>
					</div><!-- comment-form -->

					<h4><b>COMMENT{{ article.comments.count|pluralize|upper }} ({{ article.comments.count }})</b></h4>

                    {% if article.comments.all %}
					<div class="commnets-area text-left">
                        {% for comment in article.comments.all %}
						<div class="comment">

							<div class="post-info">

								<div class="middle-area">
									<b>{{ comment.name }}</b>
									<h6 class="date">on {{ comment.date_created.date }} at {{ comment.date_created.time }}</h6>
								</div>

{#								<div class="right-area">#}
{#									<h5 class="reply-btn" ><a href="#"><b>REPLY</b></a></h5>#}
{#								</div>#}

							</div><!-- post-info -->

							<p>{{ comment.comment }}</p>

						</div>
                        {% endfor %}

					</div><!-- commnets-area -->
                    {% else %}
                      <div class="alert alert-warning"><b>No Comments</b></div>
                    {% endif %}

                    <a class="more-comment-btn" href="#"><b>VIEW MORE COMMENTS</b></a>

				</div><!-- col-lg-8 col-md-12 -->


			</div><!-- row -->

		</div><!-- container -->
	</section>
{% endblock content %}