{% extends 'base.html' %}

{% block title %}
    Categories
{% endblock title %}


{% block content %}
     {% for article in articles %}
    <div class="slider display-table center-text"
         style="background-image: url({{ article.category.image.url }});
                 background-size: cover;
                 height: 400px; width: 100%; ">
		<h1 class="title display-table-cell"><b>{{ article.category.name }}</b></h1>
	</div><!-- slider -->

	<section class="blog-area section">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">

							<div class="blog-image"><img src="{{ article.image.url }}" alt="Blog Image"></div>

							<a class="avatar" href="{% url 'blog:author_articles' article.author.username %}"><img src="{{ article.author.profile.image.url }}"
                                                            alt="Profile Image">
                            </a>

							<div class="blog-info">

								<h4 class="title"><a href="{{ article.get_absolute_url }}"><b>{{ article.title }}</b></a></h4>

								<ul class="post-footer">
									<li><a href="#"><i class="ion-heart"></i>57</a></li>
									<li><a href="#"><i class="ion-chatbubble"></i>6</a></li>
									<li><a href="#"><i class="ion-eye"></i>138</a></li>
								</ul>

							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div><!-- col-lg-4 col-md-6 -->
                {% endfor %}
			</div><!-- row -->

			<a class="load-more-btn" href="#"><b>LOAD MORE</b></a>

		</div><!-- container -->
	</section><!-- section -->

{% endblock content %}