
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 1050px !important;
}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 450px !important;
}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 1050px !important;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 1050px !important;
}
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 1050px !important;
}
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 450px !important;
}
}

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 450px !important;
}
}

@media only screen and (min-device-width : 862px) and (max-device-width : 661px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 550px !important;
}
}

@media only screen and (min-device-width : 828px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 510px !important;
}
}

@media only screen and (min-device-width : 800px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 510px !important;
}
}

@media only screen and (min-device-width : 596px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 550px !important;
}
}

@media only screen and (min-device-width : 662px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 590px !important;
}
}

@media only screen and (min-device-width : 660px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 500px !important;
}
}

@media only screen and (min-device-width : 769px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 450px !important;
}
}

/* iPad Pro*/
@media only screen and (min-device-width : 1024px) and (max-device-width : 1366px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 710px !important;
}

}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 1050px !important;
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 1050px !important;
}
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 220px !important;
}
}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 187px !important;
}
}

@media only screen and (min-device-width: 504px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 310px !important;
}
}

@media only screen and (min-device-width: 504px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 450px !important;
}
}

@media only screen and (min-device-width: 518px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 320px !important;
}
}

@media only screen and (min-device-width: 564px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 370px !important;
}
}

@media only screen and (min-device-width: 362px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 170px !important;
}
}

@media only screen and (min-device-width: 400px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 410px !important;
}
}

@media only screen and (min-device-width: 612px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 420px !important;
}
}

@media only screen and (min-device-width: 780px) and (max-device-height: 661px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 460px !important;
}
}


/* iPhone 6+, 7+, 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 180px !important;
}
}

/* iPhone XS Max, XR ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
}

@media only screen and (min-device-width: 414px) and (max-device-height: 896px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 225px !important;
}
}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 140px !important;
}
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

    .mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
    max-width: 170px !important;
}
}

