{% extends "dashboard/dashboard_base.html" %}
{% load static %}

{% block title %}
    Create Article
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'blog/css/tinymce/tomorrow-night-blue.css' %}" rel="stylesheet">
        <link href="{% static 'dashboard/author/css/dashboard.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
{{ form.media }}
    <div class="container">
        <div class="content-section">

            <div class="card shadow-sm mb-3 w-100">

            <h4 class="card-header">Write A New Article</h4>

            <div class="card-body">
                    <form method="POST" action="{% url 'blog:article_write' %}" id="articleForm" enctype="multipart/form-data"
                          novalidate>
                        {% csrf_token %}
                              <div class="form-group">
                                <label for="articleTitle">Article Title*</label>
                                    <h6>{{ article_create_form.title.errors }}</h6>
                                    {{ article_create_form.title }}
                              </div>
                              <div class="form-group">
                                <label for="articleCategory">Select Category*</label>
                                  <h6>{{ article_create_form.category.errors }}</h6>
                                    {{ article_create_form.category }}
                              </div>
                              <div class="form-group">
                                <label for="articleImage">Upload Article Image*</label>
                                  <h6>{{ article_create_form.image.errors }}</h6>
                                    {{ article_create_form.image }}
                              </div>
                              <div class="form-group">
                                  <label for="article-content">Content*</label>
                                  <h6>{{ article_create_form.body.errors }}</h6>
                                  {{ article_create_form.body }}
                              </div>
                              <div class="form-group">
                                <label for="articleTags">Enter Tags*</label>
                                  <h6>{{ article_create_form.tags.errors }}</h6>
                                   {{ article_create_form.tags }}

                              <small id="hint_id_tags" class="form-text text-muted">
                                  A comma-separated list of tags.</small>
                              </div>
                              <div class="form-group">
                                <label for="articleImage">Status*</label>
                                  <h6>{{ article_create_form.status.errors }}</h6>
                                   {{ article_create_form.status }}
                              </div>
                            <div class="form-group float-right">
                                <button type="reset" class="btn btn-danger">Reset Form</button>
                                <button class="btn btn-info" name="action"
                                        value="PREVIEW" id="preview-article"
                                        type="submit" data-toggle="modal"
                                        data-target="#formModalCenter"
                                        data-url="{% url 'blog:article_write' %}">
                                        PREVIEW</button>

                                <button class="btn btn-dark" name="action"
                                        value="SAVE_AS_DRAFT" type="submit">SAVE AS DRAFT</button>

                                <button class="btn btn-primary" name="action" value="PUBLISH"
                                        type="submit">PUBLISH</button>
                            </div>
                    </form>
            </div>
            </div>
    </div>
    </div>

<!--  Form Modal -->
    <div class="modal fade bd-example-modal-lg" id="formModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Article Preview</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
              <div class="modal-body">
                 <div class="d-flex justify-content-center">
                     <div class="spinner-border text-primary" id="modal-loader" role="status">
                         <span class="sr-only">Loading...</span>
                     </div>
             </div>

             <div id="dynamic-content"> <!-- mysql data will load in table -->

                 <div class="row">
                     <div class="col-md-12" id="article-content">

                   </div>
              </div>

             </div>


              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
        </div>
      </div>
    </div>

{% endblock content %}

{% block script %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{%  static 'blog/js/blog/blog.js' %}"></script>
    <script src="{% static 'blog/js/tinymce/highlight.pack.js' %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock script %}