{% extends "dashboard/dashboard_base.html" %}

{% block title %}
    Delete Article
{% endblock title %}

{% block content %}
   <br>
    <div class="container">
    <div class="content-section">
        <div class="card shadow-sm w-100">

            <h4 class="card-header">Delete Article</h4>

            <div class="card-body">
                <form method="POST">
                    {% csrf_token %}
                        <h2>Are you sure you want to delete the Article "{{ article.title }}"
                        </h2>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Yes, Delete
                        </button>
                        <a class="btn btn-info"
                           href="{% url 'blog:article_detail' article.slug %}">Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{% endblock content %}