{% extends 'dashboard/dashboard_base.html' %}
{% load static %}
{% load only_hours %}

{% block title %}
    Deleted Articles
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}

      <div class="page-header">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <i class="ik ik-x-circle bg-red"></i>
                    <div class="d-inline">
                        <h5>Deleted Articles</h5>
                        <span>List of all your deleted articles.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-3">
            <div class="row">
                <div class="col-md-12">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="title">List Of Deleted Articles</h4>
                            </div>
                          <div class="card-body">
                            <div class="content">
                                     <section class="blog-list px-3 py-5 p-md-5">
                                     {% if deleted_articles_list %}
                                            <div class="container">
                                           {% for article in deleted_articles_list  %}
                                                <div class="item mb-5">
                                                    <div class="media">
                                                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ article.image.url }}" alt="image">
                                                        <div class="media-body">
                                                            <h3 class="title mb-1"><a href="javascript:void(0)">{{ article.title }}</a></h3>
                                                            <div class="meta mb-1"><span class="date">Published {{ article.date_published|timesince|upto:','}} ago</span>
                                                                <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span>
                                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span>
                                                                <span class="comment">{{ article.views }} view{{ article.views|pluralize }}</span>
                                                                <span class="comment">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</span>
                                                            </div>
                                                            <div class="intro">{{ article.body|safe|truncatewords:32 }}</div>
                                                          <hr class="solid"><!-- Solid divider -->
                                                        </div><!--//media-body-->
                                                    </div><!--//media-->
                                                </div><!--//item-->
                                         {% endfor %}
                                            </div>
                                     {% else %}
                                               <center><div class="alert alert-info"><b>No Deleted Articles</b></div></center>
                                     {% endif %}
                                        </section>

                                             {# Pagination for article post #}
                                            {% if is_paginated %}

                                                {# Displays previous pages #}
                                                {% if page_obj.has_previous %}
                                                    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
                                                    <a class="btn btn-outline-info mb-4"
                                                       href="?page={{ page_obj.previous_page_number }}">Previous
                                                    </a>
                                                {% endif %}

                                                {# Displays current page #}
                                                {% for num in page_obj.paginator.page_range %}
                                                    {% if page_obj.number == num %}
                                                        <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                                                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                                        <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
                                                    {% endif %}
                                                 {% endfor %}

                                                {# Displays next pages #}
                                               {% if page_obj.has_next %}
                                                    <a class="btn btn-outline-info mb-4"
                                                       href="?page={{ page_obj.next_page_number }}">Next
                                                    </a>
                                                    <a class="btn btn-outline-info mb-4"
                                                       href="?page={{ page_obj.paginator.num_pages }}">Last
                                                    </a>
                                                {% endif %}

                                            {% endif %}
                            </div>
                          </div>
                        </div>
                </div>
            </div>

    </div>

{% endblock content %}