{% extends 'dashboard/author/dashboard_base.html' %}
{% load static %}

{% block title %}
    All Articles
{% endblock title %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}


{% block content %}

             <section class="blog-list px-3 py-5 p-md-5">
		    <div class="container">

			    <div class="item mb-5">
				    <div class="media">
					    <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="assets/images/blog/blog-post-thumb-8.jpg" alt="image">
					    <div class="media-body">
						    <h3 class="title mb-1"><a href="blog-post.html">Heading Lorem Ipsum Dolor Sit Amet</a></h3>
						    <div class="meta mb-1"><span class="date">Published 4 months ago</span><span class="time">3 min read</span><span class="comment"><a href="#">2 comments</a></span><span class="time"><div class="btn-group">
								<i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								</i>
								<div class="dropdown-menu">
								    <a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							  </div></span>
                           <span class="time"></span>
                            </div>
						    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies...</div>
						    <a class="more-link" href="blog-post.html"><i class="fas fa-sign-in-alt"></i></a>
					    </div><!--//media-body-->
				    </div><!--//media-->
			    </div><!--//item-->

		    </div>
	    </section>

{% endblock content %}