{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="" />
    <meta name="author" content="" />

        <!-- Favicon-->
    <link rel="icon" href="{% static 'blog/images/favicon.png' %}"
          type="image/gif" sizes="16x16">

    <title>Bona | {% block title %}{% endblock title %}</title>

    <!-- Custom fonts for this template-->
    {% block stylesheets %}

    <link
      href="{% static 'dashboard/author/vendor/fontawesome-free/css/all.min.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />

     <!-- Bootstrap select -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/css/bootstrap-select.min.css">

    <!-- Custom styles for this template-->
    <link href="{% static 'dashboard/author/css/sb-admin-2.min.css'%}" rel="stylesheet" />

    {% endblock stylesheets %}

  </head>


  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
    {% block sidebar %}
      <ul
        class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
        id="accordionSidebar"
      >
        <!-- Sidebar - Brand -->
        <a
          class="sidebar-brand d-flex align-items-center justify-content-center"
          href="{% url 'blog:dashboard_home' %}"
        >
          <div class="sidebar-brand-icon rotate-n-0">
              <img src="{% static 'blog/images/favicon.png' %}"
                   id="company-log" class="rounded-circle" height="60" alt="company-log">
          </div>
{#          <div class="sidebar-brand-text mx-3">Bona</div>#}
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0" />

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blog:dashboard_home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a
          >
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          Article
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <i class="fas fa-fw fa-pencil-alt"></i>
            <span>Article</span>
          </a>
          <div
            id="collapseTwo"
            class="collapse"
            aria-labelledby="headingTwo"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
{#              <h6 class="collapse-header">Custom Components:</h6>#}
                <a class="collapse-item" href="{% url 'blog:article_create' %}">
                  <i class="fas fa-fw fa-pencil-alt"></i> Write A New Article
              </a>
               <a class="collapse-item" href="{% url 'blog:drafted_articles' %}">
                  <i class="fas fa-fw fa-upload"></i>
                   Publish Drafted Article</a>
            </div>
          </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapseUtilities"
            aria-expanded="true"
            aria-controls="collapseUtilities"
          >
            <i class="fas fa-fw fa-newspaper"></i>
            <span>Utilities</span>
          </a>
          <div
            id="collapseUtilities"
            class="collapse"
            aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
{#              <h6 class="collapse-header">Custom Utilities:</h6>#}
              <a class="collapse-item" href="{% url 'blog:written_articles' %}"><i class="fas fa-newspaper fa-sm fa-fw mr-2 text-gray-400">
              </i>All Articles</a>
              <a class="collapse-item" href="{% url 'blog:published_articles' %}"><i class="fas fa-upload fa-sm fa-fw mr-2 text-gray-400"></i>
                  Published Articles
              </a>
              <a class="collapse-item" href="{% url 'blog:drafted_articles' %}"><i class="fas fa-save fa-sm fa-fw mr-2 text-gray-400"></i>
                  Drafted Articles
              </a>
            </div>
          </div>
        </li>

          <!-- Divider -->
        <hr class="sidebar-divider" />
                  <!-- Heading -->
        <div class="sidebar-heading">
          Category
        </div>

      <!-- Nav Item - Category -->
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:category_create' %}">
          <i class="fas fa-fw fa-paper-plane"></i>
          <span>Submit New Category</span></a>
      </li>

        <!-- Divider -->
        <hr class="sidebar-divider" />

        <!-- Heading -->
        <div class="sidebar-heading">
          Profile
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a
            class="nav-link collapsed"
            href="#"
            data-toggle="collapse"
            data-target="#collapsePages"
            aria-expanded="true"
            aria-controls="collapsePages"
          >
            <i class="fas fa-fw fa-user"></i>
            <span>Account</span>
          </a>
          <div
            id="collapsePages"
            class="collapse"
            aria-labelledby="headingPages"
            data-parent="#accordionSidebar"
          >
            <div class="bg-white py-2 collapse-inner rounded">
{#              <h6 class="collapse-header">Login Screens:</h6>#}
              <a class="collapse-item" href="{% url 'blog:author_profile_details' %}">
                  <i class="fas fa-user-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
              </a>
              <a class="collapse-item" href="{% url 'blog:author_profile_update' %}">
                  <i class="fas fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                  Update Profile
              </a>
{#              <a class="collapse-item" href="../../account/forgot-password.html"#}
{#                >Forgot Password</a#}
{#              >#}
{#              <div class="collapse-divider"></div>#}
{#              <h6 class="collapse-header">Other Pages:</h6>#}
{#              <a class="collapse-item" href="404.html">404 Page</a>#}
{#              <a class="collapse-item" href="blank.html">Blank Page</a>#}
            </div>
          </div>
        </li>

{#        <!-- Nav Item - Charts -->#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="charts.html">#}
{#            <i class="fas fa-fw fa-chart-area"></i>#}
{#            <span>Charts</span></a#}
{#          >#}
{#        </li>#}
{##}
{#        <!-- Nav Item - Tables -->#}
{#        <li class="nav-item">#}
{#          <a class="nav-link" href="tables.html">#}
{#            <i class="fas fa-fw fa-table"></i>#}
{#            <span>Tables</span></a#}
{#          >#}
{#        </li>#}

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block" />

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
      </ul>
      <!-- End of Sidebar -->
    {% endblock sidebar %}

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
        {% block Topbar %}
          <nav
            class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
          >
            <!-- Sidebar Toggle (Topbar) -->
            <button
              id="sidebarToggleTop"
              class="btn btn-link d-md-none rounded-circle mr-3"
            >
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Search -->
            <form
              class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search"
            >
              <div class="input-group">
                <input
                  type="text"
                  class="form-control bg-light border-0 small"
                  placeholder="Search for..."
                  aria-label="Search"
                  aria-describedby="basic-addon2"
                />
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                  </button>
                </div>
              </div>
            </form>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
              <!-- Nav Item - Search Dropdown (Visible Only XS) -->
              <li class="nav-item dropdown no-arrow d-sm-none">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="searchDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div
                  class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                  aria-labelledby="searchDropdown"
                >
                  <form class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control bg-light border-0 small"
                        placeholder="Search for..."
                        aria-label="Search"
                        aria-describedby="basic-addon2"
                      />
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                          <i class="fas fa-search fa-sm"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
              </li>

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              {% if request.user.is_authenticated %}
              <li class="nav-item dropdown no-arrow">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="userDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                    >{{ user.username }}</span
                  >
                  <img alt=""
                    class="img-profile rounded-circle"
                    src="{{ user.profile.image.url }}"
                  />
                </a>
                <!-- Dropdown - User Information -->
                <div
                  class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                  aria-labelledby="userDropdown"
                >
                  <a class="dropdown-item" href="{% url 'blog:author_profile_details' %}">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                  </a>
                  <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                  </a>
                  <div class="dropdown-divider"></div>
                  <a
                    class="dropdown-item"
                    href=""
                    data-toggle="modal"
                    data-target="#logoutModal"
                  >
                    <i
                      class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                    ></i>
                    Logout
                  </a>
                </div>
              </li>
              {% endif %}
            </ul>
          </nav>
          <!-- End of Topbar -->
        {% endblock Topbar %}

        <!-- Messages -->
      {% block messages %}
       <div class="row">
        <div class="col-md-12">
            {% if messages %}
                {% for message in messages %}
                  <div class="text-center font-weight-bold alert alert-dismissible fade show
                       {% if message.level_tag == 'error' %}
                       alert-danger
                       {% else %}
                       alert-{{ message.tags }}
                       {% endif %}">
                    {{ message }}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                {% endfor %}
              {% endif %}
        </div>
      </div>
      {% endblock messages %}

    {% block content %}

     {% endblock content %}

      {% block footer %}
        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Copyright &copy; Bona Dashboard 2018</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
        {% endblock footer %}
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div
      class="modal fade"
      id="logoutModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button
              class="close"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            Select "Logout" below if you are ready to end your current session.
          </div>
          <div class="modal-footer">
            <button
              class="btn btn-secondary"
              type="button"
              data-dismiss="modal"
            >
              Cancel
            </button>
            <a class="btn btn-primary" href="{% url 'blog:logout' %}">Logout</a>
          </div>
        </div>
      </div>
    </div>

    {% block script %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'dashboard/author/vendor/jquery/jquery.min.js' %}"></script>

    <script src="{% static 'dashboard/author/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

          <!-- Bootstrap select -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/bootstrap-select.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.10/dist/js/i18n/defaults-*.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'dashboard/author/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'dashboard/author/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'dashboard/author/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'dashboard/author/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'dashboard/author/js/demo/chart-pie-demo.js' %}"></script>
   {% endblock script %}

  </body>
</html>
