{% extends 'dashboard/author/dashboard_base.html' %}
{% load static %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheets %}
     {{ block.super }}
        <link href="{% static 'dashboard/author/css/dashboard-article.css' %}" rel="stylesheet" />
{% endblock stylesheets %}

{% block content %}
               <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div
              class="d-sm-flex align-items-center justify-content-between mb-4"
            >
             <h1 class="h3 mb-0 text-gray-800"></h1>
              <a
                href="{% url 'blog:home' %}" target="_blank"
                class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm "
                ><i class="fas fa-paper-plane fa-sm text-white-50 "></i> Visit Website</a>
            </div>

            <!-- Content Row -->
            <div class="row">
              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                        >
                          Total Articles Written
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {{ total_articles_written }}
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-pencil-alt fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-success text-uppercase mb-1"
                        >
                          Total Articles Published
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {{ total_articles_published }}
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-upload fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Earnings (Monthly) Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-info text-uppercase mb-1"
                        >
                          Total Articles Views
                        </div>
                        <div class="row no-gutters align-items-center">
                          <div class="col-auto">
                            <div
                              class="h5 mb-0 mr-3 font-weight-bold text-gray-800"
                            >
                              {{ total_articles_views }}
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto">
                        <i
                          class="fas fa-eye fa-2x text-gray-300"
                        ></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Pending Requests Card Example -->
              <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                  <div class="card-body">
                    <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div
                          class="text-xs font-weight-bold text-warning text-uppercase mb-1"
                        >
                          Total Articles Comments
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">
                          {{ total_articles_comments }}
                        </div>
                      </div>
                      <div class="col-auto">
                        <i class="fas fa-comments fa-2x text-gray-300"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Content Row -->
         <div class="container mb-3">
            <div class="row">
                <div class="col-md-12">
                        <div class="card shadow-sm">
                            <div class="card-header">
                                <h4 class="title">Recent Published Articles</h4>
                            </div>
                          <div class="card-body">
                            <div class="content">
                    <section class="blog-list px-3 py-5 p-md-5">
                     {% if recent_published_articles_list %}
                            <div class="container">
                           {% for article in recent_published_articles_list  %}
                                <div class="item mb-5">
                                    <div class="media">
                                        <img class="mr-3 img-fluid post-thumb d-none d-md-flex" src="{{ article.image.url }}" alt="image">
                                        <div class="media-body">
                                            <h3 class="title mb-1"><a href="{% url 'blog:dashboard_article_detail' slug=article.slug %}">{{ article.title }}</a></h3>
                                            <div class="meta mb-1"><span class="date">Published {{ article.date_published|timesince}} ago</span>
                                                <span class="time">{{ article.count_words }} word{{ article.count_words|pluralize }}</span>
                                                <span class="time">{{ article.read_time }} min{{ article.read_time|pluralize }} read</span>
                                                <span class="comment">{{ article.views }} view{{ article.views|pluralize }}</span>
                                                <span class="comment"><a href="#">{{ article.comments.count }} comment{{ article.comments.count|pluralize }}</a></span>
                                                <span class="time">
                                                <i class="fas fa-chevron-down" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                </i>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{% url 'blog:article_update' slug=article.slug %}">Edit Article</a>
                                                    <div class="dropdown-divider w-100" ></div>
                                                    <a data-toggle="modal" data-target="#deleteModal" class="dropdown-item" href="#">Delete Article</a>
                                                </div>
                                              </span>
                                            </div>
                                            <div class="intro">{{ article.body|safe|truncatewords:32 }}</div>
                                            <a class="more-link" href="{% url 'blog:dashboard_article_detail' slug=article.slug %}">View details &rarr;</a>
                                          <hr class="solid"><!-- Solid divider -->
                                        </div><!--//media-body-->
                                    </div><!--//media-->
                                </div><!--//item-->
                         {% endfor %}
                            </div>
                     {% else %}
                               <center><div class="alert alert-info"><b>No Published Articles</b></div></center>
                     {% endif %}
                        </section>

                          </div>
                  <!-- /.container-fluid -->
                <!-- End of Main Content -->
                          </div>
                        </div>
                </div>
            </div>
         </div>
          </div>
{% endblock content %}